<h1>Discharge Activities</h1>

<table>
  <tr>
    <th>JK_ID</th>
    <th>MAIN_ACTIVITY_DATE</th>
    <th>TAV_MONTH</th>
    <th>TAV_YEAR</th>
    <th>MAIN_ACTIVITY_NAME</th>
    <th>DISCHARGE_DISPOSITION</th>
    <th>SUB_ACTIVITY_DATE</th>
    <th>SUB_ACTIVITY_NAME</th>
    <th>SUB_ACTIVITY_STATUS</th>
    <th>DAY_DIFFERENCE</th>
    <th>COUNT1</th>
    <th>COUNT2</th>
    <th>COUNT3</th>
  </tr>

  <tr>
    <td><%= @discharge_activity.JK_ID %></td>
    <td><%= @discharge_activity.MAIN_ACTIVITY_DATE %></td>
    <td><%= @discharge_activity.TAV_MONTH %></td>
    <td><%= @discharge_activity.TAV_YEAR %></td>
    <td><%= @discharge_activity.MAIN_ACTIVITY_NAME %></td>
    <td><%= @discharge_activity.MAIN_ACTIVITY_STATUS %></td>
    <td><%= @discharge_activity.DISCHARGE_DISPOSITION %></td>
    <td><%= @discharge_activity.SUB_ACTIVITY_DATE %></td>
    <td><%= @discharge_activity.SUB_ACTIVITY_NAME %></td>
    <td><%= @discharge_activity.SUB_ACTIVITY_STATUS %></td>
    <td><%= @discharge_activity.DAY_DIFFERENCE %></td>
    <td><%= @discharge_activity.COUNT1 %></td>
    <td><%= @discharge_activity.COUNT2 %></td>
    <td><%= @discharge_activity.COUNT3 %></td>
  </tr>
</table>
